@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --heading-font: 'Open Sans', sans-serif;
  --body-font: 'Nunito', sans-serif;
  --main-color: #8454f5;
}

body {
  font-family: var(--body-font);
  background: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}
.bg-custom {
  background: var(--main-color);
  color: #cac0c0;
  &:hover {
    background: #08b38e;
  }
}
.color-custom{
  color:#8454F5 ;
}
/* header css */

.header-firat-div {
  padding-top: 100px;
  h1 {
    font-size: 3.75rem;
    font-weight: 600;
    margin-bottom: 20px;

    @media (max-width: 991.98px) { 
      font-size: 40px;
      margin-bottom: 15px;
     }
  }
  p {
    font-size: 18px;
    line-height: 32px;
    padding-left: 10px;
  }
  .left-border {
    border-left: 8px solid rgb(255, 178, 36);
    height: 90px;
  }
  form {
      background: rgba(132, 84, 245, 0.105);
      max-width:550px;

        input {
        height: 110px;
        background: transparent;

        &:focus {
        outline: none;
         }   
      
        &::placeholder{
          font-size: 18px;
          font-weight: 400;
        }

      }
    
    
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr 1fr;
  gap: 10px;
  color: #000;
}

/* banner logo */
.banner-logo {
  img {
    padding: 80px 0px;
  }
}


/* servise-section */

.servise-section{

 .left-border {
    border-left: 8px solid rgb(255, 178, 36);
    height: 90px;
  }
  
  h2{
    line-height: 70px;
    font-size: 56px;

    @media (max-width: 991.98px) { 
      font-size: 40px;
      padding: 0;
     }
  }

  .service-item {
     padding:  25px;
     border-radius: 20px;
     background-color: #fff;
   border: 1px solid rgba(94, 33, 236, 0.40);


      &:hover{
        background: #8454f5;
         transition: 0.3s;
          i{
            background-color: rgba(252, 252, 254, 0.15);
            color: #FCFCFE;
          }
          h4{
            color: #fff;
          }
          p,
          a{
            color: #ecdbdb;
          }
         
      }
    &.color-2{
     i{
    
   
    background: rgb(209, 178, 226);
    color: #820bdd;
   }
 
     
    a{
      color: #000;
    }
    &:hover{
        background: #11684b;
         transition: 0.3s;
          i{
            background-color: rgba(252, 252, 254, 0.15);
            color: #FCFCFE;
          }
          h4{
            color: #fff;
          }
          p,
          a{
            color: #ecdbdb;
          }
         
      }
    }
    &.color-3{
      i{
    
   
    background: rgb(226, 223, 153);
    color: #67670f;
   }
 
     
    a{
      color: #000;
    }
    &:hover{
        background: #6c6835;
         transition: 0.3s;
          i{
            background-color: rgba(252, 252, 254, 0.15);
            color: #FCFCFE;
          }
          h4{
            color: #fff;
          }
          p,
          a{
            color: #ecdbdb;
          }
         
      }

    }
    &.color-4{

      &:hover{
        background: #73354f;
         transition: 0.3s;
          i{
            background-color: rgba(205, 106, 142, 0.15);
            color: #FCFCFE;
          }
          h4{
            color: #fff;
          }
          p,
          a{
            color: #ecdbdb;
          }
         
      }
    }
    &.color-5{
      &:hover{
        background: #297e89;
         transition: 0.3s;
          i{
            background-color: rgba(124, 205, 205, 0.15);
            color: #FCFCFE;
          }
          h4{
            color: #fff;
          }
          p,
          a{
            color: #ecdbdb;
          }
         
      }
    }
    &.color-6{
      &:hover{
        background: #3ba52d;
         transition: 0.3s;
          i{
            background-color: rgba(110, 201, 120, 0.15);
            color: #FCFCFE;
          }
          h4{
            color: #fff;
          }
          p,
          a{
            color: #ecdbdb;
          }
         
      }
    }

   i{
    
    width: 60px;
    height: 60px;
    background: rgba(254, 196, 95, 0.15);
    color: #FEC35F;
    border-radius: 15px;
   }
 
     
    a{
      color: #000;
    }
   
  }
}

/* Join with any business tasks and any goals */
.goals-area{


  .text-area{
    padding: 120px 0;
  }
}

/*messy distribution lists start
 */
.container{ 
 .multiple-btn{
  width: 100%;
  height: auto;
  background: rgba(132, 84, 245, 0.232);
  border-radius: 15px;
  display: flex;
    justify-content: center;
    align-items: center;

  .btn-width{
    width: 100%;
  }
  button{
    width: 240px;
    height: 60px;
    
    
  }
 }

 .distribution{
  h2{
    padding-right: 150px;
  }
  p{
    padding-right: 100px;
  }
 }
}

/* Build the right plan for your team */

.heading-area {
  h2{
    font-size: 56px;
    max-width: 700px;
  }
}
.pro-plan{
  background: #181059;
  color: white;
  margin-top: -30px;
}
.switch{
  label{
    position: relative;
    width: 80px ;
    height: 40px;
    border-radius: 40px;
    background: #820bdd;

    &::before{
      content: '';
      width: 30px ;
      height: 30px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 5px;
    }

  }
  input:checked{
    &+label{

      background: yellow;
      /* first way */

      /* &::before{
        content: '';
        right: 5px;
        left: auto;
      } */
/* sceond way */
      &::before{
        content: none;
      } 
      &::after{
        content: '';
        width: 30px ;
        height: 30px;
        background: #1f0808;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        bottom: 5px;
        &+label{
          background: yellow;
        }
      

      }
    }
  }
  &:checked{
    
  }
  
}

/* Watch a demo */

.watch-demo{

  .ultra-faste{
    max-width: 150px;
  }

}

/*  */

.plan-for-you {
  h2{
   max-width: 400px;
  }
}

/* Free  days trial  */

.free-trial {
  h2{
    max-width: 470px;
    
  }

  input{
    width: 512px;
    height: 80px;
  }
}